spring:
  application:
    name: Gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: UserService
              uri: lb://USERSERVICE
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1

server:
  port: 8080

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: DEBUG
    reactor:
      netty:
        http:
          client: WARN

management:
  endpoints:
    web:
      exposure:
        include: gateway, health, info
  endpoint:
    health:
      show-details: always

jwt:
  issuer: ${JWT_ISSUER:filmstats}
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:3600000}